    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Virtual Machine Image</h2>
                    <p>Make sure you have VirtualBox installed before proceeding.</p>
                    <a href="https://www.virtualbox.org/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>