<!-- Programming Language Section -->
<section id="programming_languages" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>The Event's Programming Language</h2>
            <p>
            	<img src="/images/logos/python_logo.png" style="width:30%;height:30%;" alt="Python Logo">
            </p>
            <p>
            	Python 3 will be the official programming language for the Hack MoVal event. It is a powerful, light and easy to pick up language that will open your doors to many different platforms like Raspberry Pi, Linux, Micro:bit, Internet of Thing devices, and much more.
        	</p>
            <p>
            	Getting Python 3 on your computer depends on your operating system. There are many resources on the internet on how to get it. Access the <a href="https://python.org/" target="_blank"> Python official website</a> for the download and installion information.
            </p>
            <p>
            	To learn the basics of the Python 3 programming language, check out the <a href="https://docs.python.org/3/index.html" target="_blank">Python 3 documenation</a>. This contains all information on the functions and libraries that you might need for your team project. There will be support from student facilitators. 
            </p>
        </div>
    </div>
</section>