<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download Virtual Machine Image</h2>
                <p>Make sure you have the VirtualBox software installed on your computer before proceeding.</p>
                <a href="https://drive.google.com/file/d/1QkCn_1gJoumIG6Bp89Ti0jCyVzz1AFJ6/view?usp=sharing" target="_blank" class="btn btn-default btn-lg">Download VM Image</a>
            </div>
        </div>
    </div>
</section>