<!-- Virtual Machine Section -->
<section id="virtual_machines" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>You Will Need VirtualBox</h2>
            <p>
            	<img src="/images/logos/virtualbox_logo.png" style="width:30%;height:30%;" alt="Python Logo">
            </p>
            <p>
            	VirtualBox is a powerful tool that will allow you to virtualize a computer inside your computer. You will need it for this event because we will be supplying a pre-configured Ubuntu operating system. It will contain the necessary packages for completing the event.
            </p>
            <p>
            	However, if such a demand cannot be met, we can find alternatives for you. Just make sure to contact us before the event starts and we will help you.
            </p>
            <p>
            	Installing VirtualBox on your computer, just like a programming language, depends on your operating system. Use the <a href="https://www.virtualbox.org/" target="_blank">VirtualBox official site</a> to download the software executable. The internet is a very useful tool for learning how to install the application. 
            </p>
        </div>
    </div>
</section>