<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include programming_languages.html %}
    {% include virtual_machine.html %}
    {% include virtual_machine_download.html %}
    {% include register.html %}
    {% include blank.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>

<!-- 
Excluded 
% include contact.html %
% include map.html %
-->